In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False


# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [2]:
df = pd.read_csv('data/merged_data_brand_dropna.csv')

In [12]:
# 구매 이벤트만 필터링
purchase_df = df[df['event_type'] == 'purchase'].copy()

In [13]:
# event_month 기준으로 구매 수 집계
monthly_purchases = purchase_df.groupby('event_month').size().reset_index(name='purchase_count')

In [14]:
monthly_purchases

   event_month  purchase_count
0            1          151840
1            2          134282
2           10          144498
3           11          184500
4           12          121851

In [16]:
# event_month를 문자열로 변환하여 CSV 저장
monthly_purchases.to_csv('data/04_monthly_purchase_count.csv', index=False)